{% extends '@Library/common/layout.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-offset-1 col-lg-10 fos_user_content-ct">
            {% block fos_user_content %}{% endblock %}
        </div>
    </div>

{% endblock %}