{{ form_start(form, {'action': path('sonata_user_change_password')  }) }}
{{ form_widget(form) }}

<div class="form-actions">
    <button type="submit" class="btn btn-primary pull-right">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
</div>
{{ form_end(form) }}
