body > .container {
    min-height: 400px;
    margin-bottom: 10px;
}

.py-5 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.card {
    header h5 {
        font-size: 14px;
    }
    .card-body {
        font-size: 14px;
    }
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination a {
    text-decoration: none !important;
}

.datatable-column-interactive_info {
    margin: 10px 0;
}

td.cell-actions-column {
    width: 20px;
}
td.grid-column-author_lastName{
    width: 250px;
}
td.grid-column-created {
    width: 200px;
}

.fullview-controls {
    .btn {
        margin: 10px 5px 0 0
    }
}

textarea.form-control {
    min-height: 200px;
}