{#{% extends 'LibraryBundle:Default:layout_inner.html.twig' %}#}
{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "SonataUserBundle:Profile:action.html.twig" %}

{#{% block sonata_profile_title %}
    {{ "title_user_account" | trans({}, 'SonataUserBundle')}} — {{ "title_user_edit_profile" | trans({}, 'SonataUserBundle')}}
{% endblock %}#}

{% block sonata_profile_title %}
    {{ 'title_user_account'|trans({}, 'SonataUserBundle') }}
{% endblock %}

{% block sonata_profile_content %}

    {{ form_errors(form) }}

    {% form_theme form _self %}

    <div class="row">
        <div class="span8 col-lg-8">
            {% include "SonataUserBundle:Profile:edit_profile_content.html.twig" %}
        </div>
    </div>


    {#    {% render url("sonata_user_profile_edit_authentication") %}#}
{% endblock %}
