<div class="widget grid-outer">
    <div class="widget-grid-container">
        {{ grid(grid, '@Library/APYDataGridBundle/blocks_js.jquery.html.twig', 'data-grid-ct', tpl_params) }}
    </div>
</div>

